### Different types of Patterns

--------------------------------------------------------------------------------

### Squeare

In [ ]:
n = int(input("n: "))

for i in range(n):
  for j in range(0, n):
    print("*", end = " ")
  print()

n: 6
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

--------------------------------------------------------------------------------

### Right Triangle

In [ ]:
n = int(input("n: "))

for i in range(n):
  for j in range(i + 1):
    print("*", end = " ")
  print()

n: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

--------------------------------------------------------------------------------

### Left Triangle

In [ ]:
n = int(input("n: "))

for i in range(n):
  for j in range(i, n):
    print(" ", end = " ")
  for j in range(i + 1):
    print("*", end = " ")
  print()

n: 7
              *
            * *
          * * *
        * * * *
      * * * * *
    * * * * * *
  * * * * * * *

--------------------------------------------------------------------------------

### Right Downward Triangle

In [ ]:
n = int(input("n: "))

for i in range(n):
  for j in range(i, n):
    print("*", end = " ")
  print()

n: 7
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

--------------------------------------------------------------------------------

### Left Downward Triangle

In [ ]:
n = int(input("n: "))

for i in range(n):
  for j in range(i + 1):
    print(" ", end = " ")
  for j in range(i, n):
    print("*", end = " ")
  print()

n: 7
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

### Pyramid

--------------------------------------------------------------------------------

In [ ]:
n = int(input("n: "))

for i in range(n):
  for j in range(i, n):
    print(" ", end = " ")

  for j in range(i):
    print("*", end = " ")

  for j in range(i + 1):
    print("*", end = " ")
  print()

n: 7
              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *

--------------------------------------------------------------------------------

### Reversed Pyramid

In [ ]:
n = int(input("n: "))

for i in range(n):
  for j in range(i + 1):
    print(" ", end = " ")
  for j in range(i, n - 1):
    print("*", end = " ")
  for j in range(i, n):
    print("*", end = " ")
  print()

n: 7
  * * * * * * * * * * * * *
    * * * * * * * * * * *
      * * * * * * * * *
        * * * * * * *
          * * * * *
            * * *
              *

--------------------------------------------------------------------------------

### Diamond

In [ ]:
n = int(input("n:"))

for i in range(n - 1):
  for j in range(i, n):
    print(" ", end = " ")
  for j in range(i):
    print("*", end = " ")
  for j in range(i + 1):
    print("*", end = " ")
  print()

for i in range(n):
  for j in range(i + 1):
    print(" ", end = " ")
  for j in range(i, n - 1):
    print("*", end = " ")
  for j in range(i, n):
    print("*", end = " ")
  print()

n:7
              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *
    * * * * * * * * * * *
      * * * * * * * * *
        * * * * * * *
          * * * * *
            * * *
              *

--------------------------------------------------------------------------------

### Left Pascals Triangle

In [ ]:
n = int(input("n: "))

for i in range(n - 1):
  for j in range(i + 1):
    print("*", end = " ")
  print()

for i in range(n):
  for j in range(i, n):
    print("*", end = " ")
  print()

n: 7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

--------------------------------------------------------------------------------

### Right Pascals Triangle

In [ ]:
n = int(input("n: "))

for i in range(n - 1):
  for j in range(i, n):
    print(" ", end = " ")
  for j in range(i + 1):
    print("*", end = " ")
  print()

for i in range(n):
  for j in range(i + 1):
    print(" ", end = " ")
  for j in range(i, n):
    print("*", end = " ")
  print()

n: 7
              *
            * *
          * * *
        * * * *
      * * * * *
    * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

--------------------------------------------------------------------------------

### SandGlass

In [ ]:
n = int(input("n: "))

for i in range(n - 1):
  for j in range(i + 1):
    print(" ", end  = " ")
  for j in range(i, n - 1):
    print("*", end = " ")
  for j in range(i, n):
    print("*", end = " ")
  print()

for i in range(n):
  for j in range(i, n):
    print(" ", end = " ")
  for j in range(i):
    print("*", end = " ")
  for j in range(i + 1):
    print("*", end = " ")
  print()

n: 7
  * * * * * * * * * * * * *
    * * * * * * * * * * *
      * * * * * * * * *
        * * * * * * *
          * * * * *
            * * *
              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *

--------------------------------------------------------------------------------

### Doubl Hill

In [ ]:
n = int(input("n: "))

for i in range(n):
  for j in range(i, n):
    print(" ", end = " ")
  for j in range(i):
    print("*", end = " ")
  for j in range(i + 1):
    print("*", end = " ")
  for j in range(i, n - 2):
    print(" ", end = " ")

  for j in range(i, n -1):
    print(" ", end = " ")
  for j in range(i):
    print("*", end = " ")
  for j in range(i + 1):
    print("*", end = " ")
  print()

n: 6
            *                   *
          * * *               * * *
        * * * * *           * * * * *
      * * * * * * *       * * * * * * *
    * * * * * * * * *   * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * * *

--------------------------------------------------------------------------------

### Butterfly

In [ ]:
n = int(input("n: "))

for i in range(1, n + 1):
    for j in range(i):
        print("*", end = " ")
    for j in range(2*(n - i)):
        print(" ", end = " ")
    for j in range(i):
        print("*", end = " ")
    print()


for i in range(n, 0, -1):
    for j in range(i):
        print("*", end = " ")

    for j in range(2 * (n - i)):
        print(" ", end = " ")
    for j in range(i):
        print("*", end = " ")
    print()

n: 7
*                         *
* *                     * *
* * *                 * * *
* * * *             * * * *
* * * * *         * * * * *
* * * * * *     * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * *     * * * * * *
* * * * *         * * * * *
* * * *             * * * *
* * *                 * * *
* *                     * *
*                         *

In [ ]:
n = int(input("n: "))

for i in range(n):
  for j in range(i + 1):
    print("*", end = " ")

  for j in range(i, n):
    print(".", end = " ")
  for j in range(i, n -1):
    print(",", end = " ")

  for j in range(i + 1):
    print("*", end = " ")
  print()

for i in range(n +1):
  for j in range(i, n + 1):
    print("*", end = " ")

  for j in range(i - 1):
    print(".", end = " ")
  for j in range(i):
    print(",", end = " ")

  for j in range(i, n +1):
    print("*", end = " ")
  print()

n: 7
* . . . . . . . , , , , , , *
* * . . . . . . , , , , , * *
* * * . . . . . , , , , * * *
* * * * . . . . , , , * * * *
* * * * * . . . , , * * * * *
* * * * * * . . , * * * * * *
* * * * * * * . * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * , * * * * * * *
* * * * * * . , , * * * * * *
* * * * * . . , , , * * * * *
* * * * . . . , , , , * * * *
* * * . . . . , , , , , * * *
* * . . . . . , , , , , , * *
* . . . . . . , , , , , , , *

In [ ]:
n = int(input("n: "))

for i in range(n):
  for j in range(i + 1):
    print("*", end = " ")

  for j in range(i, n):
    print(" ", end = " ")
  for j in range(i, n -1):
    print(" ", end = " ")

  for j in range(i + 1):
    print("*", end = " ")
  print()

for i in range(n +1):
  for j in range(i, n + 1):
    print("*", end = " ")

  for j in range(i - 1):
    print(" ", end = " ")
  for j in range(i):
    print(" ", end = " ")

  for j in range(i, n +1):
    print("*", end = " ")
  print()

n: 7
*                           *
* *                       * *
* * *                   * * *
* * * *               * * * *
* * * * *           * * * * *
* * * * * *       * * * * * *
* * * * * * *   * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * *   * * * * * * *
* * * * * *       * * * * * *
* * * * *           * * * * *
* * * *               * * * *
* * *                   * * *
* *                       * *
*                           *

In [ ]:
n = int(input("n: "))

for i in range(1, n + 1):
  for j in range(i):
    print("*", end = " ")

  for j in range(2 * (n - i)):
    print(".", end = " ")

  for j in range(i):
    print("*", end = " ")
  print()

for i in range(n):
  for j in range(i, n):
    print("*", end = " ")
  for j in range(2 * (i)):
    print(".", end = " ")
  for j in range(i, n):
    print("*", end = " ")
  print()

n: 7
* . . . . . . . . . . . . *
* * . . . . . . . . . . * *
* * * . . . . . . . . * * *
* * * * . . . . . . * * * *
* * * * * . . . . * * * * *
* * * * * * . . * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * . . * * * * * *
* * * * * . . . . * * * * *
* * * * . . . . . . * * * *
* * * . . . . . . . . * * *
* * . . . . . . . . . . * *
* . . . . . . . . . . . . *

In [ ]:
n = int(input("n: "))

for i in range(1, n + 1):
  for j in range(i):
    print("*", end = " ")

  for j in range(2 * (n - i) + 1):
    print(".", end = " ")

  for j in range(i):
    print("*", end = " ")
  print()

print("* " * (2 * n + 1))

for i in range(n):
  for j in range(i, n):
    print("*", end = " ")
  for j in range(2 * (i) + 1):
    print(".", end = " ")
  for j in range(i, n):
    print("*", end = " ")
  print()

n: 7
* . . . . . . . . . . . . . *
* * . . . . . . . . . . . * *
* * * . . . . . . . . . * * *
* * * * . . . . . . . * * * *
* * * * * . . . . . * * * * *
* * * * * * . . . * * * * * *
* * * * * * * . * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * . * * * * * * *
* * * * * * . . . * * * * * *
* * * * * . . . . . * * * * *
* * * * . . . . . . . * * * *
* * * . . . . . . . . . * * *
* * . . . . . . . . . . . * *
* . . . . . . . . . . . . . *